@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
    background: #565656;
    color:#fff;
    font-family: 'Montserrat';
    margin:0;

}

.row {
    width:100%;
    margin-top:30px;
    background:#8b8782;
    border-bottom: 5px solid #784556;
    border-top: 5px solid #784556;
    display: grid;
    grid-template-columns: 35% auto;
    align-items: left;
}

.row2 {
    width:50%;
    display: grid;
    grid-template-columns: auto;
    padding:20px;
    margin-right: 20px;
  }

p.notify {
      background:#C3C3C3;
      margin:0;
      padding: 20px;
      text-transform:uppercase;
      margin-bottom: 20px;
      margin-top: 20px;
      color: #000000
  }

#price-container {
    margin-left: 20%;
    background:#b55572;
    padding: 0 10px;
    text-align:center;
}
#goal-container {
    padding:20px;
}
.subtext {
    font-size:.6em;
    text-transform:uppercase;
    margin-bottom: 10px;
}
img {
    width: 20px;
}

h1 {
    margin: 0 0 10px 0;
}

button {
    float:left;
    background:#784556;
    border:none;
    color:#fff;
    text-transform:uppercase;
    padding:10px;
    align-items: left;
    cursor:pointer;
}
